<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button
      tab="tab1"
      routerLink="/tabs/tab1"
      (click)="setActivePage('/tabs/tab1')"
    >
      <ion-icon
        aria-hidden="true"
        [name]="(currUrl) === '/tabs/tab1' ? 'newspaper': 'newspaper-outline'"
        [color]="(currUrl) === '/tabs/tab1' ? 'warning': 'dark'"
      ></ion-icon>
      <ion-label color="dark">Recipes</ion-label>
    </ion-tab-button>

    <ion-tab-button
      tab="tab2"
      routerLink="/tabs/tab2"
      (click)="setActivePage('/tabs/tab2')"
    >
      <ion-icon
        aria-hidden="true"
        [name]="(currUrl) === '/tabs/tab2' ? 'pizza': 'pizza-outline'"
        [color]="(currUrl) === '/tabs/tab2' ? 'warning': 'dark'"
      ></ion-icon>
      <ion-label color="dark">Meals</ion-label>
    </ion-tab-button>

    <ion-tab-button
      tab="tab3"
      href="/tabs/tab3"
      (click)="setActivePage('/tabs/tab3')"
    >
      <ion-icon
        aria-hidden="true"
        [name]="(currUrl) === '/tabs/tab3' ? 'person': 'person-outline'"
        [color]="(currUrl) === '/tabs/tab3' ? 'warning': 'dark'"
      ></ion-icon>
      <ion-label color="dark">Search</ion-label>
    </ion-tab-button>

    <ion-tab-button
      tab="favorites"
      routerLink="/favorites"
      (click)="setActivePage('/favorites')"
    >
      <ion-icon
        aria-hidden="true"
        [name]="(currUrl) === '/favorites' ? 'heart': 'heart-outline'"
        [color]="(currUrl) === '/favorites' ? 'warning': 'dark'"
      ></ion-icon>
      <ion-label color="dark">Favorites</ion-label>
    </ion-tab-button>

    <ion-tab-button
      tab="settings"
      routerLink="/settings"
      (click)="setActivePage('/settings')"
    >
      <ion-icon
        aria-hidden="true"
        [name]="(currUrl) === '/settings' ? 'settings': 'settings-outline'"
        [color]="(currUrl) === '/settings' ? 'warning': 'dark'"
      ></ion-icon>
      <ion-label color="dark">Settings</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
