<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab1" href="/tabs/tab1">
      <ion-icon aria-hidden="true" name="newspaper" color="warning"></ion-icon>
      <ion-label color="dark">Recipes</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2" href="/tabs/tab2">
      <ion-icon aria-hidden="true" name="pizza-outline" color="medium"></ion-icon>
      <ion-label color="dark">Meals</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab3" href="/tabs/tab3">
      <ion-icon aria-hidden="true" name="person-outline" color="medium"></ion-icon>
      <ion-label color="dark">My Plates</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="favorites" href="/tabs/favorites">
      <ion-icon aria-hidden="true" name="heart-outline" color="medium"></ion-icon>
      <ion-label color="dark">Favorites</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab4" href="/tabs/tab4">
      <ion-icon aria-hidden="true" name="settings-outline" color="medium"></ion-icon>
      <ion-label color="dark">Settings</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>