<ion-header [translucent]="true">
  <ion-toolbar color="warning">
    <ion-title> Recipes </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Recipes</ion-title>
      <ion-searchbar
        name="searchStr2"
        [debounce]="250"
        show-clear-button="always"
        [(ngModel)]="searchStr"
        (ngModelChange)="onSearchChange($event)"
      ></ion-searchbar>
    </ion-toolbar>
  </ion-header>

  <!--  -->
  <ng-container *ngFor="let i of recipes$ | async">
    <ion-accordion-group>
      <app-accordion [item]="i"> </app-accordion>
    </ion-accordion-group>
  </ng-container>
</ion-content>
