<ion-header [translucent]="true">
  <ion-toolbar color="warning">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true"> 
  <ion-list-header>
    <ion-label><h1 [ngStyle]="{'font-weight': 'bold'}">{{title}}</h1></ion-label>
  </ion-list-header>
<ion-grid>
  <ion-row>
    <ion-col>
      <ion-thumbnail>
        <img [src]="(selectedRecipe | async)?.imgSet.thumb" alt="Image description" alt="my-image" [src]="" />
      </ion-thumbnail>
    
    </ion-col>
  </ion-row>
</ion-grid>

  <ion-list [inset]="true">   
    <ion-list-header>
      <ion-label>Ingredients</ion-label>
    </ion-list-header>

   <ng-container *ngFor="let rec of (selectedRecipe | async)?.ingredients; let i = index">
    <ion-item>    
       <ion-grid>
        <ion-row>
          <ion-col size="12" class="label">{{ labels[i] }}</ion-col>
          <ion-col size="12"><ion-text color="medium">Price: </ion-text>{{ rec.item.price |
           currency}}</ion-col>
          <ion-col size="12"><ion-text color="medium">Calories: </ion-text>{{ rec.item.calories}}</ion-col>
        </ion-row>
       </ion-grid>          
    </ion-item>
   </ng-container>


  </ion-list>
</ion-content>