<ion-header [translucent]="true">
  <ion-toolbar color="warning">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <img
      alt="title-image"
      width="360"
      height="280"
      [src]="(selectedRecipe | async)?.imgSet.large"
      alt="Image description"
      alt="my-image"
    />
    <ion-card-header>
      <div>{{desc | slice:0:100}}</div>
      <ion-card-subtitle>{{average_price}}</ion-card-subtitle>
      <ion-card-title>{{title}}</ion-card-title>
    </ion-card-header>
    <!--  <ion-card-content>  
    </ion-card-content> -->
  </ion-card>

  <ion-list [inset]="true">
    <ion-item
      *ngFor="let rec of (selectedRecipe | async)?.ingredients[0].item.labels; let i = index"
    >
      <ion-label>{{ labels[i] }}</ion-label>
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-title>
      <!--  <ion-button expand="block" color="warning" size="large">
        <ion-icon name="cart"></ion-icon>
        Add to Cart
      </ion-button> -->
    </ion-title>
  </ion-toolbar>
</ion-footer>
