<ion-header [translucent]="true">
  <ion-toolbar color="warning">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <img
      alt="title-image"
      width="360"
      height="280"
      [src]="(selectedRecipe | async)?.imgSet.large"
      alt="Image description"
      alt="my-image"
    />
    <ion-card-header>
      <div>{{desc | slice:0:100}}</div>
      <ion-card-subtitle>{{average_price}}</ion-card-subtitle>
      <ion-card-title>{{title}}</ion-card-title>
    </ion-card-header>
    <!--  <ion-card-content>  
    </ion-card-content> -->
  </ion-card>

  <ion-list [inset]="true">
    <ion-item
      *ngFor="let rec of (selectedRecipe | async)?.ingredients[0].item.labels; let i = index"
    >
      <ion-label>{{ labels[i] }}</ion-label>
    </ion-item>
  </ion-list>

  <!--  -->
  <ion-modal
    #modal
    trigger="open-modal"
    [presentingElement]="presentingElement"
  >
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title>Instructions</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="modal.dismiss()">Close</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <!-- TODO Component -->
        <ion-list>
          <ion-item>
            <ion-avatar slot="start">
              <ion-img
                #img
                [src]="imgSet.thumb"
                (ionError)="handleImgError($event)"
              ></ion-img>
            </ion-avatar>
            <ion-label>
              <h2>Step 1</h2>
              <p>Season Food</p>
            </ion-label>
          </ion-item>
          <ion-item>
            <ion-avatar slot="start">
              <ion-img
                [src]="imgSet.thumb"
                (ionError)="handleImgError($event)"
              ></ion-img>
            </ion-avatar>
            <ion-label>
              <h2>Step 2</h2>
              <p>Rub thoroughly</p>
            </ion-label>
          </ion-item>
          <ion-item>
            <ion-avatar slot="start">
              <ion-img
                [src]="imgSet.thumb"
                (ionError)="handleImgError($event)"
              ></ion-img>
            </ion-avatar>
            <ion-label>
              <h2>Step 3</h2>
              <p>Place on oven rack</p>
            </ion-label>
          </ion-item>
          <ion-item>
            <ion-avatar slot="start">
              <ion-img
                [src]="imgSet.thumb"
                (ionError)="handleImgError($event)"
              ></ion-img>
            </ion-avatar>
            <ion-label>
              <h2>Step 4</h2>
              <p>Cook on 355 degrees for 1 hour</p>
            </ion-label>
          </ion-item>
        </ion-list>
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-title>
      <ion-button
        [ngStyle]="{'padding-top': '12px'}"
        size="small"
        id="open-modal"
        color="dark"
      >
        <ion-icon
          slot="icon-only"
          size="large"
          name="information-circle-outline"
          color="light"
        ></ion-icon>
      </ion-button>
    </ion-title>
  </ion-toolbar>
</ion-footer>
